{% extends '::base.html.twig' %}

{% block fos_message_content %}
<div class="form-wrapper">
    <div class="thread-header">
        <h4>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h4>
    </div>
<form action="{{ url('photo_message_new_thread') }}" method="post">
    {#<p>#}
        {#<input type="text" id="myTextField" />#}
    {#<div id="match"></div>#}
    {#</p>#}
    {{ form_label(form.recipient) }} <small>(type at least 2 characters)</small>
    {{ form_widget(form.recipient, {attr: { class: 'form-control', placeholder: 'Start typing recipent name' }}) }}
    <div id="match"></div>
    {{ form_row(form.subject, {attr: { class: 'form-control', placeholder: 'Enter message subject'}}) }}
    {{ form_row(form.body, {attr: {placeholder: 'Enter message subject', class: "form-control", rows: "5", id: "comment"}}) }}
    <input class="btn btn-default" type="submit" />
    {{ form_rest(form) }}
</form>

</div>
{% endblock %}
