{#<table>#}

    {#<thead>#}
        {#<tr>#}
            {#<th>{% trans from 'FOSMessageBundle' %}subject{% endtrans %}</th>#}
            {#<th>{% trans from 'FOSMessageBundle' %}starter{% endtrans %}</th>#}
            {#<th>{% trans from 'FOSMessageBundle' %}startdate{% endtrans %}</th>#}
            {#<th>{% trans from 'FOSMessageBundle' %}messages{% endtrans %}</th>#}
            {#<th>{% trans from 'FOSMessageBundle' %}last_message{% endtrans %}</th>#}
            {#<th>{% trans from 'FOSMessageBundle' %}actions{% endtrans %}</th>#}
        {#</tr>#}
    {#</thead>#}

    {#<tbody>#}

    {% if threads %}
        {% for thread in threads %}
            <div class="thread-single">
                    <a href="{{ url('photo_message_thread_id', {'threadId': thread.id, "username": app.user.profile.profileUsername}) }}">
                        {{ thread.subject }}
                    </a>

                    {% if not fos_message_is_read(thread) %}
                        <div class="thread-new">({% trans from 'FOSMessageBundle' %}new{% endtrans %})</div>
                    {% endif %}
                <span class="thread-num">
                    {{ thread.messages|length }}
                </span>
                {#<div class="thread-sender">#}
                    {#{{ thread.createdBy }}#}
                {#</div>#}
                <div class="thread-date">
                    {{ thread.createdAt|date }}
                </div>

                <div class="thread-head">
                    {% if thread.lastMessage %}

                        <a class="thread-link" >
                            →
                        </a>
                        {% trans with {'%date%': thread.lastMessage.createdAt|date} from 'FOSMessageBundle' %}on{% endtrans %}

                        {% trans with {'%sender%': thread.lastMessage.sender|e } from 'FOSMessageBundle' %}by{% endtrans %}

                    {% else %}
                        ----
                    {% endif %}
                </div>
                <div class="thread-del-undel">
                    {% if fos_message_can_delete_thread(thread) %}
                        {% if fos_message_deleted_by_participant(thread) %}
                            {% set formAction %}{{ url('photo_message_id_undelete', {'threadId': thread.id, "username": app.user.profile.profileUsername}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}undelete{% endtrans %}{% endset %}
                        {% else %}
                            {% set formAction %}{{ url('photo_message_id_delete', {'threadId': thread.id, "username": app.user.profile.profileUsername}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}delete{% endtrans %}{% endset %}
                        {% endif %}
                        <form action="{{ formAction }}" method="post">
                                <input class="btn btn-danger" type="submit" value="X" />
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center">
                {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
        </div>
    {% endif %}

    {#</tbody>#}

{#</table>#}
