{% extends '::base.html.twig' %}

{% block fos_message_content %}
<div class="form-wrapper">
    <div class="thread-header">
        <h4>{{ thread.subject }}</h4>
    </div>
{% for message in thread.messages %}
    <div class="messenger_thread_message">
        <div class="messenger_thread_message_info">
            {% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date} from 'FOSMessageBundle' %}message_info{% endtrans %}
        </div>

        <div class="messenger_thread_message_body" id="message_{{ message.id }}">
            {{ message.body }}
        </div>
    </div>
{% endfor %}

<h4>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h4>

<form action="{{ url('photo_message_thread_id', {'threadId': thread.id, "username": app.user.profile.profileUsername}) }}" method="post">

    {{ form_widget(form) }}

    <input class="btn btn-success" type="submit" />
</form>
</div>
{% endblock %}
