{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {% for post in posts %}

        <article class="post">
            {#{{ dump() }}#}
            <div class="post-header">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path("profile_index", {"username": app.user.profile.profileUsername}) }}">
                    {#{{ post.user.fullName }}#}
                    {{ post.user.profile.firstname }} {{ post.user.profile.lastname }}
                </a>
                    {% else %}
                        <a href="{{ path("profile_index", {"username": post.user.profile.profileUsername}) }}">
                            {#{{ post.user.fullName }}#}
                            {{ post.user.profile.firstname }} {{ post.user.profile.lastname }}
                        </a>
                {% endif %}
                <div class="options pull-right">
                    {% if app.user and post.isAuthor(app.user) %}
                    <div class="btn dropdown pull-right">
                    <span class="options-drop dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="fa fa-cogs"></span>
                    </span>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="{{ path('post_edit', { id: post.id }) }}">Edit</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="{{ path('post_delete', {id: post.id}) }}">Delete</a>
                            </li>
                        </ul>
                    </div>
                    {% else %}

                    {% endif %}
                </div>
            </div>
            {#<h2>#}
                {#<a href="{{ path('blog_post', { slug: post.slug }) }}">#}
                    {#{{ post.title }}#}
                {#</a>#}
            {#</h2>#}
            <div class="image-post">
                <a href="{{ path('blog_post', { id: post.id }) }}">
                    <img class="img-responsive" src="{{ asset('images/posts/')}}{{ post.imageName }}" alt="{{ post.imageName }}">
                </a>
            </div>
            {#{{ post.summary|md2html }}#}

            <div class="post-description">
                {#{{ post.content|md2html }}#}
                {{ post.content }}
            </div>


        {% for comment in post.comments %}
            <div class="post-comment">
                <span class="">
                    <strong>{{ comment.username }}</strong>
                    {#{{ 'post.commented_on'|trans }}#}
                    {#<strong>{{ comment.publishedAt|localizeddate('medium', 'short') }}</strong>#}
                </span>
                <div class="post-single-comment">
                    {#{{ comment.content|md2html }}#}
                    {{ comment.content }}
                </div>
            </div>

        {% else %}
            <div class="post-comment">
                <p>{{ 'post.no_comments'|trans }}</p>
            </div>
        {% endfor %}
        {#<h3>{{ 'post.num_comments'|transchoice(post.comments|length) }}</h3>#}
        <div id="post-add-comment" class="post-comment-add">
            {# The 'IS_AUTHENTICATED_FULLY' role ensures that the user has entered
            his/her credentials (login + password) during this session. If he/she
            is automatically logged via the 'Remember Me' functionality, he/she won't
            be able to add a comment.
            See http://symfony.com/doc/current/cookbook/security/remember_me.html#forcing-the-user-to-re-authenticate-before-accessing-certain-resources
            #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ render(controller('AppBundle:Posts/Post:commentForm', { 'id': post.id })) }}
            {% else %}
                <p>
                    <a class="btn btn-success" href="{{ path('fos_user_security_login') }}">
                        <i class="fa fa-sign-in"></i> {{ 'action.sign_in'|trans }}
                    </a>
                    {{ 'post.to_publish_a_comment'|trans }}
                </p>
            {% endif %}
        </div>
        </article>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}


    <div class="navigation text-center">
        {{ pagerfanta(posts, 'twitter_bootstrap3', { routeName: 'blog_index_paginated' }) }}
    </div>
{% endblock %}


{#{% block sidebar %}#}
    {#{{ parent() }}#}

    {#{{ show_source_code(_self) }}#}
{#{% endblock %}#}
