{{ form_start(form, { method: 'POST', action: path('comment_new', { 'postId': post.id }) }) }}
    <fieldset>
        {#<legend>{{ 'title.add_comment'|trans }}</legend>#}

        {# Render any global form error (e.g. when a constraint on a public getter method failed) #}
        {{ form_errors(form) }}

        <div class="form-group {% if not form.content.vars.valid %}has-error{% endif %}">
            {{ form_label(form.content, 'label.content', { label_attr: { class: 'hidden' }}) }}

            {# Render any errors for the "content" field (e.g. when a class property constraint failed) #}
            {{ form_errors(form.content) }}

            {{ form_widget(form.content, { attr: { placeholder: 'Add comment' } }) }}
        </div>


            <button class="btn btn-info pull-right" type="submit">{{ 'action.publish_comment'|trans }}</button>

    </fieldset>
{{ form_end(form) }}
