{% extends 'base.html.twig' %}

{% block body_id 'post_edit' %}

{% block main %}
    <div class="form-wrapper">
    {#<h1>{{ 'title.edit_post'|trans({'%id%': post.id}) }}</h1>#}
    <img class="img-responsive" id="imagePreview" >

    {{ include('@App/Posts/_form.html.twig', {
        form: edit_form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript">
        document.getElementById("post_imageFile_file").onchange = function () {
            var reader = new FileReader();

            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("imagePreview").src = e.target.result;
            };

            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        };
    </script>
{% endblock %}

{#{% block sidebar %}#}
    {#<div class="section actions">#}
        {#{{ include('blog/_form.html.twig', {#}
            {#form: delete_form,#}
            {#button_label: 'action.delete_post'|trans,#}
            {#button_css: 'btn btn-lg btn-block btn-danger',#}
            {#show_confirmation: true,#}
        {#}, with_context = false) }}#}
    {#</div>#}

    {#{{ parent() }}#}

    {#{{ show_source_code(_self) }}#}
{#{% endblock %}#}
