{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    {#<h1></h1>#}

    {#{{ dump(profile.profileUsername) }}#}
<article class="post">
    <div class="post-header">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path("profile_index", {"username": app.user.profile.profileUsername}) }}">
                {#{{ post.user.fullName }}#}
                {{ post.user.profile.firstname }} {{ post.user.profile.lastname }}
            </a>
        {% else %}
            <a href="{{ path("profile_index", {"username": post.user.profile.profileUsername}) }}">
                {#{{ post.user.fullName }}#}
                {{ post.user.profile.firstname }} {{ post.user.profile.lastname }}
            </a>
        {% endif %}
    </div>
    <div class="image-post">
        <img class="img-responsive" src="{{ post.imageName | imagine_filter('post_thumb')  }}" alt="{{ post.imageName }}">

    </div>
    <div class="post-description">
        {{ post.content }}
        {#{{ post.content|md2html }}#}
    </div>



    {% for comment in post.comments %}
        <div class="post-comment">
            <span class="">
                <strong>{{ comment.username }}</strong>
                {#{{ 'post.commented_on'|trans }}#}
                {#<strong>{{ comment.publishedAt|localizeddate('medium', 'short') }}</strong>#}
            </span>
            <div class="post-single-comment">
                {#{{ comment.content|md2html }}#}
                {{ comment.content }}
            </div>
        </div>

    {% else %}
        <div class="post-comment">
            <p>{{ 'post.no_comments'|trans }}</p>
        </div>
    {% endfor %}
    {#<h3>{{ 'post.num_comments'|transchoice(post.comments|length) }}</h3>#}
    <div id="post-add-comment" class="post-comment-add">
        {# The 'IS_AUTHENTICATED_FULLY' role ensures that the user has entered
        his/her credentials (login + password) during this session. If he/she
        is automatically logged via the 'Remember Me' functionality, he/she won't
        be able to add a comment.
        See http://symfony.com/doc/current/cookbook/security/remember_me.html#forcing-the-user-to-re-authenticate-before-accessing-certain-resources
        #}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('AppBundle:Posts/Post:commentForm', { 'id': post.id })) }}
        {% else %}
            <p>
                <a class="btn btn-primary btn-fill" href="{{ path('fos_user_security_login') }}">
                    <i class="fa fa-sign-in"></i> {{ 'action.sign_in'|trans }}
                </a>
                {{ 'post.to_publish_a_comment'|trans }}
            </p>
        {% endif %}
    </div>
</article>



{% endblock %}

{% block sidebar %}
    {% if app.user and post.isAuthor(app.user) %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('post_edit', { id: post.id }) }}">
                <i class="fa fa-edit"></i> {{ 'action.edit_post'|trans }}
            </a>
        </div>
    {% endif %}

    {# the parent() function includes the contents defined by the parent template
      ('base.html.twig') for this block ('sidebar'). This is a very convenient way
      to share common contents in different templates #}
    {{ parent() }}

    {#{{ show_source_code(_self) }}#}
{% endblock %}
