{% extends 'base.html.twig' %}
{% block main %}

    <div class="edit-profile-container">

        <div class="form-wrapper-edit">
            <h4>Edit your profile</h4>
            {{ form_start(form, { attr: attr|default({}) }) }}
            {% if profile.imageName %}
                <img id="profile-image" class="img-circle img-responsive img-raised" src="{{ profile.imageName | imagine_filter('my_thumb')  }}" title="#" />
            {% else %}
                <img id="default-image" class="img-circle img-responsive img-raised default-image" src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png" />
            {% endif %}
            <div class="image-wrapper-profile">
                <div class="circle">

                    <img class="img-responsive" id="imagePreview" >

                </div>
                <a href="#" id="cancel" aria-hidden="true"><i class="fa fa-times cancel"></i> Remove profile image</a>
            </div>
            <div class="image-form-wrapper text-center">
                <a class="sf-form-row-add-image">
                    <i class="fa fa-plus"></i>
                    <p>Choose profile photo</p>
                    {{ form_widget(form.imageFile) }}
                </a>
            </div>
            {% if profile.imageBackgroundName %}
                <img id="profile-background" class="img-responsive profile-background" src="{{ asset('images/background/') }}{{ profile.imageBackgroundName }}"/>
            {% else %}
                <img id="default-image-background" class="img-responsive profile-background-preview" src="./bundles/app/images/rick.jpg"/>
            {% endif %}
            <div class="image-wrapper-profile">
                <div class="square">

                    <img class="img-responsive" id="imagePreviewBackground" >

                </div>
                <a href="#" id="cancelBackground" aria-hidden="true"><i class="fa fa-times cancel"></i> Remove background image</a>
            </div>

            <div class="image-form-wrapper text-center">
                <a class="sf-form-row-add-image-background">
                    <i class="fa fa-plus"></i>
                    <p>Choose background photo</p>
                    {{ form_row(form.imageBackgroundFile) }}
                </a>
            </div>


            {{ form_label(form.firstname) }}
            {{ form_widget(form.firstname) }}
            {{ form_errors(form.firstname) }}

            {{ form_label(form.lastname) }}
            {{ form_widget(form.lastname) }}

            {{ form_label(form.occupation) }}
            {{ form_widget(form.occupation) }}

            {{ form_label(form.about) }}
            {{ form_widget(form.about, {attr: {placeholder: 'Enter message subject', class: "form-control", rows: "5", id: "comment"}}) }}

            <input type="submit" value="{{ button_label|default('label.update'|trans) }}"
                   class="{{ button_css|default("btn btn-primary pull-right") }}" />
            {{ form_end(form) }}

        </div>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            <script type="text/javascript">
                $('.sf-form-row-add-image').hide();
                $('.circle').hide();
                document.getElementById("profile_edit_imageFile_file").onchange = function () {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        document.getElementById("imagePreview").src = e.target.result;
                        $("#cancel").show();
                        $('.circle').show();
                        $('.sf-form-row-add-image').hide();

                    };

                    // read the image file as a data URL.
                    reader.readAsDataURL(this.files[0]);
                    $('#cancel').click(function(e)
                    {
                        $('#profile-image').hide();
                        $('#profile_imageFile_file').val("");
                        $('#imagePreview').attr("src","");
                        $('.sf-form-row-add-image').show();
                        $("#cancel").hide();
                        $('.circle').hide();

                    });

                };
                $('#cancel').click(function(e)
                {
                    $('.circle').hide();
                    $('#profile-image').hide();
                    $('#profile_imageFile_file').val("");
                    $('#imagePreview').attr("src","");
                    $('.sf-form-row-add-image').show();
                    $("#cancel").hide();
                    $("#default-image").hide();
                });

                $('.sf-form-row-add-image-background').hide();
                document.getElementById("profile_edit_imageBackgroundFile_file").onchange = function () {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        document.getElementById("imagePreviewBackground").src = e.target.result;
                        $("#cancelBackground").show();
                        $('.sf-form-row-add-image-background').hide();

                    };

                    // read the image file as a data URL.
                    reader.readAsDataURL(this.files[0]);
                    $('#cancelBackground').click(function(e)
                    {
                        $('#profile-background').hide();
                        $('#profile_imageBackgroundFile_file').val("");
                        $('#imagePreviewBackground').attr("src","");
                        $('.sf-form-row-add-image-background').show();
                        $("#cancelBackground").hide();

                    });
                }
                $('#cancelBackground').click(function(e)
                {
                    $('#profile-background').hide();
                    $('#profile_edit_imageBackgroundFile_file').val("");
                    $('#imagePreviewBackground').attr("src","");
                    $('.sf-form-row-add-image-background').show();
                    $("#cancelBackground").hide();
                    $("#default-image-background").hide();
                });
            </script>

    </div>
{% endblock %}
